body {
    font-family: monospace;
    height: 100vh;
    transition: background-color 0.5s ease; /* Optional: smooth background color transition */
    background-color:transparent;
}

#top-menu {
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: transparent;
    height:10%;
    /* margin-bottom: 10; */
    display: block;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: larger;
}


button:hover {
    background-color: rgba(53, 53, 53, 0.315);
    border: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }


.edit-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    /* gap: 5px; */
    z-index: 1;
}

.hidden {
    display: none;
    position: absolute;
}

.edit-menu option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown:hover .edit-menu {display: block;}

.content{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

#color-picker-container {
    margin-bottom: 20px;
}

#color-picker {
    font-size: large;
    font-weight: bold;
}

#canvas {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
    gap: 1px;
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #cccccc36;
}
